// load custom variables before bootstrap
@import './shared/variables';

// third-party styles from node_modules
@import 'bootstrap/scss/bootstrap.scss';
@import 'izitoast/dist/css/iziToast';

// custom styles
@import 'voting_thumbs';

body {
  background: $gray-200;
}

.WordSearch {
  position: relative;

  label {
    position: absolute;
    left: 17px;
    top: 12px;
  }

  &-input {
    border-radius: 25px;
    height: 3rem;
    padding-left: 2.5rem;
    background-color: #fff;
  }

  &-cancel {
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 12px;
    color: #b3b3b3;
  }

}
